[Unit]
Description=Runs a Consul Agent on all the Core-OS nodes
After=docker.service

# Dependency ordering
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill consul-agent
ExecStartPre=-/usr/bin/docker rm consul-agent
ExecStartPre=/usr/bin/docker pull warmfusion/consul-agent
ExecStart=/usr/bin/docker run --name consul-agent -P warmfusion/consul-agent:0.5
ExecStop=/usr/bin/docker stop consul-agent

[X-Fleet]
Global=true