[Unit]
Description=Nginx server service on port %i
After=docker.service
Requires=etcd2.service
Requires=nginx-discovery@%i.service

# Dependency ordering
After=etcd2.service
After=docker.service
Before=nginx-discovery@%i.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx%i
ExecStartPre=-/usr/bin/docker rm nginx%i
ExecStartPre=/usr/bin/docker pull warmfusion/nginx
ExecStart=/usr/bin/docker run --name nginx%i -p 80:80 -v /mnt/docker/nginx/conf.d:/etc/nginx/conf.d warmfusion/nginx 
ExecStop=/usr/bin/docker stop nginx%i