[Unit]
Description=Announce php-fpm%i
BindsTo=php-fpm@%i.service
After=php-fpm@%i.service

[Service]
# Reset every 45 seconds that php-fpm is running on HostX port 9000 on etcd (Will use consul later)
ExecStart=/bin/sh -c "while true; do etcdctl set /services/website/php-fpm@%i '{ \"host\": \"%H\", \"port\": 9000, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/website/php-fpm@%i

[X-Fleet]
MachineOf=php-fpm@%i.service